.base-layout-sider {
    position: absolute;
    z-index: 1;
    width: 200px;
    background-color: #000;
    transition: all 0.2s;
    height: 100vh;
  }
.base-layout-sider-collapsed {
    position: absolute;
    z-index: 1;
    width: 80px;
    background-color: #000;
    transition: all 0.2s;
    height: 100vh;
  }
  